*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100vh;
    font-family: 'Arial' , sans-serif;
}
nav{
    width: 100%;
    height: 80px;
    background-color: aqua;
    color: blue;
    display: flex;
    justify-content: space-between;
}
label.logo{
    line-height: 80px;
    font-size: 35px;
    margin: 0 100px;
    color:blue;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav  ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
    font-size: 20px;  
    padding: 0px 20px; 
}
nav ul li a.active, a:hover{
    background-color: orange;
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;
}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}


@media(max-width:895px){
    #checkbtn{
        display: block;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: -100%;
       
    }

    nav ul li{
        display: block;
        text-align: center;
       
       
    }
    nav .mainMenu li a:hover{
        background: none;
        color: yellow;
        font-size: 1.6rem;
    }
    
}